.container{
    font-family: Arial, Helvetica, sans-serif;
}
table{
    width: 50%;
    margin: auto;
}
table,th,td{
    border: 1px solid lightgray;
    border-collapse: collapse;
}
caption{
    text-align: start;
    font-size: 25px;
    font-weight: 700;
    margin: 10px 0;
}
th{
    background-color: dodgerblue;
    color: white;
}
th,td{
    padding: 10px;
}
td{
    text-align: center;
}
input{
    background-color: dodgerblue;
    color: white;
    /* border: none; */
    border: 1px solid dodgerblue;
}
tr:nth-child(even){
    background-color: whitesmoke;
}
tr:hover{
    background-color:lightgray;
}